{% load static %}
{% load blog_tags %}

<aside class="col-lg-4 tm-aside-col">
    <div class="tm-post-sidebar">
        <hr class="mb-3 tm-hr-primary">
        <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
        
        {% for tag in all_tags %}                      
        <ul class="tm-mb-15 pl-5 tm-category-list">
            <li><a href="{% url 'post_blog_tag' tag.slug %}" class="tm-color-primary">{{tag.name}}</a></li>
        </ul> 
        {% endfor %}
        {% most_view %}
    </div>                    
</aside>